@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: cornflowerblue;
    font-family: 'M PLUS 1 Code', sans-serif;
}

#container {
    width: 90%;
    margin: 4rem auto;
    background: white;
    border-radius: 10px;
}

#container h1, h2, h3 {
    text-align: center;
}

#container #main {
    /* background: rgb(231, 225, 225); */
    padding: 0 2rem;
}

#container #main #title h1, #container #main #title p {
    margin: 2rem 0;
    text-align: center;
}
nav {
    padding: 2rem 0;
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

ul li {
    padding: 2rem 0;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
}

#tribute-info h2 {
    margin: 2rem 0;
}

.tribute-info .info-content div {
    padding: 1rem;
}

.info-content {
    display: flex;
    flex-direction: column;
}

.info-content div {
    flex-basis: 50%;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    margin: 2rem 0;
}

@media (min-width: 600px){
    body {
        background: #FDCA40;
    }

    .info-content {
    flex-direction: row;
}
}

