@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: crimson;
    font-family: 'M PLUS 1 Code', sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
    border: 2px solid red;
    background: white;
    padding: 2rem;
}

#container h1, h2, h3 {
    text-align: center;
}

ul {
    list-style: none;
}

#image {
    max-width: 100%;
    height: auto;
    text-align: center;
}